
.single-sale-page {
	.page-heading {
		&::before {
			content: '';
			@include position(absolute, $top: 0, $left: 0, $z-index: 100);
			@include size(100%);
			background-image:
				linear-gradient(60deg, rgba(255, 255, 255, 1) 45%, transparent 45.5%);
			animation: left-curtain 2s forwards .2s;
			pointer-events: none;
		}

		&::after {
			content: '';
			@include position(absolute, $top: 0, $left: 0, $z-index: 100);
			@include size(100%);
			background-image:
				linear-gradient(60deg, transparent 44.5%, rgba(255, 255, 255, 1) 45%);
			animation: right-curtain 2s forwards .2s;
			pointer-events: none;
		}
	}

	.page-time {
		@include width($max-width: 900px);
		@include margin($bottom: 24px);
		@include padding($left: 12px, $right: 12px);
		@include font($size: 16px, $weight: 600);
		box-sizing: border-box;
	}

	.sale-content {
		@include margin($bottom: 50px);
		@include padding($bottom: 20px);
		animation: slide-up .5s both .5s ease-in;
	}

	.page-related {
		animation: slide-up .5s both 1.5s ease-in;

		.archive-content {
			justify-content: center;
		}

	}

	@keyframes left-curtain {
		0% {
			left: 0;
		}
		100% {
			left: -100%;
		}
	}

	@keyframes right-curtain {
		0% {
			left: 0;
		}
		100% {
			left: 100%;
		}
	}

	@keyframes slide-up {
		0% {
			margin-top: 50px;
			opacity: 0;
		}
		100% {
			margin-top: 0;
			opacity: 1;
		}
	}
}
